
body { background-color: azure }
body.night { background-color: rgb(24, 26, 27) }
body.night { color: ghostwhite }

details > summary { list-style: none; } /* ne mutassa a nyilat: egyik android, másik gép */
details summary::-webkit-details-marker { display:none; } /* ne mutassa a nyilat: egyik android, másik gép */

details[open] > summary { background-color: paleGreen; }
details[open] > summary.mainTitle {
	background-color: black;
	color: yellow;
}
details[open] {
	border-bottom: 3px solid black;
	margin-bottom: 8px; /* vonal felett kis hej */
	padding-bottom: 8px; /* vonal alatt kis hej */
	overflow: hidden; /* ha van egy kép, akkor az ne lógjon át az alatta lévő kérdésekre, hanem 'tegye lejjeb a vonalat' */
	/* text-align: left; */
}
.night details[open] { border-bottom: 3px solid gray }

.mainTitle {
	font-weight: bold;
	font-size: larger;
	text-align: center;
	color: orange;
	background-color:black; 
	border: 5px solid black;
	display: block; /* div legyen, ne csak span! -> tehát teljes sor, NE csak amíg a szöveg tart */
	/* min-width: 99%; */
	/* left: -10px; */
}
.phase {
	/*
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	*/
	
	margin-top: 1px;
	margin-bottom: 1px;
	
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	/* font-weight: bold; */
	background-color: AliceBlue;
	color: Black;
	border: 2px solid Black;
	
	display: inline-block;
}
.status { 
	color: Black;
	background-color: AliceBlue;
	border: 1px solid Black;
	
	display: inline-block;

	padding-left: 2px;
	padding-right: 2px;

}

* {
	font-family: Tahoma, 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
	/* font-family: Tahoma; */
	list-style-type: disc;
}

li { 
	margin-left: 16px;
}
ul, ol { 
	margin-left: -20px; /* annyira nem kell beljebb a következőt */
	margin-top: 0; /* fölötte ne legyen hej */
	margin-bottom: 0; /* alatta ne legyen hej */
}

summary {
	color: Green;
	cursor: pointer;
	display: inline-block; /* ne legyen div, csak span! -> tehát ne teljes sor, hanem amíg a szöveg tart */
}

video{
	border-bottom: 5px solid black;
	background-color: black;
	display: block; 
}

table {
	border-collapse: collapse; /* borderek egybe legyenek */
	/* padding: 2px; */
	/* padding-top: 3px; */
	text-align: center;
}
th, td {
	border: 3px solid black;
	/* border-collapse: collapse; */
	padding: 3px;
	/* padding-top: 3px; */
	vertical-align: middle;
	text-align: center;
}
.night th { border: 3px solid gray }
.night td { border: 3px solid gray }
th { background: Silver }
.night th { background: darkslategray }




blockquote {
  display: inline-block;
  margin: 6px 0 6px 10px;   /* fent 6px, lent 6px, jobbra 0, balra 10px */
  padding-left: 14px;
  border-left: 4px solid #3b82f6;
}



.fontWhiteBlack { color: white }
.night .fontWhiteBlack { color: black }
.fontBlue { color: blue }
.night .fontBlue { color: cornflowerblue }

.bgAqua { background-color: blue }
.night .bgAqua { background-color: aqua }
.bgBlue { background-color: aqua }
.night .bgBlue { background-color: blue }
.bgGreen { background-color: lime }
.night .bgGreen { background-color: darkgreen }
.bgPink { background-color: pink }
.night .bgPink { background-color: deeppink }
.bgYellow { background-color: yellow }
.night .bgYellow { background-color: saddlebrown }

.bgCoral { background-color: red }
.night .bgCoral { background-color: coral }
.bgRed { background-color: coral }
.night .bgRed { background-color: darkred }
.bgAzure { background-color: azure }
.night .bgAzure { background-color: rgb(30,30,30) }

.WHITE { 
	border: Black 1px solid; 
	padding-left: 1px; 
	padding-right: 1px; 
	/* background-color: White; */
}
.night .WHITE { border: white 1px solid }

.mirror {
	display:inline-block;
	transform: scale(-1,1);
}
.ORANGE { 
	border: Black 1px solid; 
	padding-left: 3px; 
	padding-right: 3px; 
	background-color: orange;
}
.plus { 
	padding-left: 2px; 
	padding-right: 2px; 
	background-color: green;
	color: white;
	font-weight: bold;
}
.minus { 
	padding-left: 3px; 
	padding-right: 3px; 
	background-color: red;
	color: white;
	font-weight: bold;
}
.fsMini { font-size: 80% }

abbr {
	/*position: relative;*/
	/*border: white 1px solid; 
	padding-left: 1px; 
	padding-right: 1px; */
	/*padding-top: 0px; 
	padding-bottom: 0px;*/
	text-decoration: underline;
	text-decoration-color: red;
}
/* .night abbr  { background-color: dimgray } */
abbr:hover{
	text-decoration-color: green;
}








